#logo-inner-image {
    width           : 160px;
    height          : 72px;
    background-color: white;
}

.reactwrapper {
    position: relative;
    padding : 2px;
    width   : auto;
    height  : 200px;
}

.landing-main-wrapper {
    position: relative;
    padding : 8px;
    width   : auto;
    display : flex;
    height  : 88px;
    border: 1px solid #f6f6f6;
    box-shadow: 6px 6px 19px 5px #f6f6f6;
    background-color: #F6F6F6;
}


.header-logo-image-area {
    position: relative;
    padding : 2px;
    width   : 15%;
}

.header-inner-label {
    position : relative;
    padding  : 2px;
    font-size: 26px;
    width    : 20%;
}

.header-inner-name-area {
    position: relative;
    padding: 8px;
    font-size: 30px;
    width: 43%;
    text-align: right;
    top: 28px;
}

.header-inner-right-area {
    position: relative;
    padding : 8px;
    width   : 15%;
    display : flex;
    left: 20px;
}

.icon-wrapper {
    position: relative;
    padding: 24px 6px;
}

.icon-wrapper img {
    width        : 20px;
    height       : 20px;
    border       : 2px solid;
    border-radius: 50%;
    padding      : 10px;
    background-color: #42ccec85;
}
.spanvalue{
    color:#42ccec;
}